<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects</title>
    </head>
    <body>        
        {{> header}}
        <p>Project text would be here...</p>
    </body>
    {{> footer}}    
</html>